In [1]:
my_tuple=[(),('ram','15','8'),(),('laxman','sita'),('krishna','akbar','45'),(","),()]
print(my_tuple)

[(), ('ram', '15', '8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ',', ()]

In [2]:
test_list=[4,6,4,3,3,4,3,7,8,8]
k=2
for a in test_list:
    if a>k:
        print(f'list of element which is greater then 2 is{a}')

list of element which is greater then 2 is4
list of element which is greater then 2 is6
list of element which is greater then 2 is4
list of element which is greater then 2 is3
list of element which is greater then 2 is3
list of element which is greater then 2 is4
list of element which is greater then 2 is3
list of element which is greater then 2 is7
list of element which is greater then 2 is8
list of element which is greater then 2 is8

In [3]:
aaa="i am a data scientist and i am looking for good oppertunity in data science domain"
for number in aaa:
    print(number)

i

a
m

a

d
a
t
a

s
c
i
e
n
t
i
s
t

a
n
d

i

a
m

l
o
o
k
i
n
g

f
o
r

g
o
o
d

o
p
p
e
r
t
u
n
i
t
y

i
n

d
a
t
a

s
c
i
e
n
c
e

d
o
m
a
i
n